

.outerAboutWrap {
    width: 100%;
}

.innerAboutWrap {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.imgContainer {
    margin-left: 2rem;
}

.lizImg {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}

.textContainer {

}

.aboutHead {

}

.aboutPara {
    
}