
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

.innerContact {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.header {
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 5rem;
    letter-spacing: 0.5rem;
}

.contactPara {
    width: 50%;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.25rem;
    text-align: center;
}

.buttonWrap {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 5rem;
}

.buttons {
    border: none;
    background-image: linear-gradient(to right bottom, #ab9dd6a6, #301934ad), url(../img/waves-purple-blue-wallpaper-preview.jpg);
    background-size: cover;
    color: transparent;
    width: 20rem;
    height: 6rem;
    font-size: xx-large;
    font-weight: 600;
    font-family: 'Italiana', serif;
    letter-spacing: 0.5rem;
    -webkit-background-clip: text;
}

.buttons:hover  {
    cursor: pointer;
}

.instaButt {
    margin-right: 3rem;
}

.emailButt {
    margin-left: 3rem;
}