
/* #CBC3E3
#9370db
#301934 */
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

.navWrap {
    width: 100%;
    height: 4.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(to right bottom, #ab9dd6a6, #301934ad), url(../img/waves-purple-blue-wallpaper-preview.jpg);
    background-size: cover;
    background-position: bottom;
    position: sticky;
    top: 0;
    z-index: 2;
    margin-bottom: 2rem;
}

.button {
    width: 30%;
    height: 5rem;
    border-color: transparent;
    background-color: transparent;
    font-weight: 900;
    font-size:x-large;
    color: white;
    font-family: 'Italiana' , serif;
    letter-spacing: 0.5rem;
}

.button:hover {
    cursor: pointer;
}